
#information {
  background-color: white;
  height: 100px;
  width: 100%;
  top: 60px;
  left: 0;
  position: fixed;
  z-index: 1;
  border-bottom: solid 2px;
  overFlow-y: scroll;
}

#title {
  text-align: center;
  font-size: 21px;
  font-family: "Georgia";
  font-style: italic;
  margin-bottom: 5px;
}

#text {
  text-align: justify;
  font-family: "Inter";
  line-height: 1.25;
  font-size: 17px;
  text-indent: 24px;
  width: 1350px;
  margin: auto;
}

#text p {
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}


#year_choose {
  background-color: white;
  height: 65px;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
  padding: 0 0 0 0;
}

#year_range {
  background-color: white;
  width: calc(100% - 20px);
  height: 25px;
  margin: 5px 10px 5px 10px;
}

#year_click {
  position: absolute;
  top: 25px;
  left: calc(50% - 50px - 10px);
  height: 35px;
  width: 125px;
  background-color: white;
  display: flex;
  margin-top: 2.5px;
}

#year_null {
  width: 100%;
  height: 25px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid;
  font-family: "Georgia";
  font-size: 18px;
  letter-spacing: 2.5px;
  color: #302b1f;
  background-color: #fffee9;
}

.year_button {
  background-color: #fffee9;
  width: 25px;
  height: 25px;
  margin: 5px;
  padding: 0 0 0 0;
  border-radius: 5px;
  border: 1px solid;
}

#year_text {
  margin: 0 5px 0 5px;
  height: 35px;
  width: 65px;
  text-align: center;
  font-size: 25px;
  font-family: 'Georgia';
}


#tree {
  background-color: #fffee9;
  position: absolute;
  left: 0;
  top: 160px;
  width: calc(100% - 10px);
  height: calc(100% - 160px - 10px);
  z-index: 0;
  padding: 10px 0 0 10px;
  overFlow-y: scroll;
  overFlow-x: scroll;
}

#tree_scroll {
  width: 2300px;
  height: 700px;
}

.generation {
  height: 60px;
  margin-bottom: 40px;
}

.fake {
  position: absolute;
  width: 20px;
  height: 65px;
  border-radius: 10px;
  border-bottom: solid 2.5px grey;
  z-index: 2;
}

.person {
  background-color: #edbe6b;
  color: #302b1f;
  font-family: 'Inter';
  line-height: 1;
  text-align: center;
  height: 60px;
  width: 60px;
  border-radius: 7.5px;
  padding: 2.5px 0 2.5px 0;
  display: inline-block;
  position: absolute;
  z-index: 4;
}

.person-background {
  background-color: white;
  width: 60px;
  height: 65px;
  border-radius: 7.5px;
  position: absolute;
  z-index: 3;
}

.died {
  opacity: 0.5;
}

.told {
  background-color: #8d2d0b;
  color: #f9dfb7;
  opacity: 1;
}

.name {
  font-size: 8px;
  height: 15px;
  margin-bottom: 5px;
}

.years {
  font-size: 7px;
  margin-top: 2.5px;
}

.based {
  width: 100%;
  display: flex;
  margin: 5px 5px 2.5px 5px;
}

.image {
  height: 30px;
  width: 25px;
}

.right {
  width: 25px;
  height: 30px;
}

.extra {
  height: 15px;
  width: 30px;
}

.czar_icon {
  margin: 0 auto;
  height: 15px;
  width: 20px;
}

.age {
  font-size: 9px;
  display: flex;
  height: 15px;
}

.age_number {
  font-size: 10px;
  margin: 0 2.5px 2.5px 5px;
  display: flex;
  align-items: flex-end;
}

.age_word {
  font-size: 9px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2.5px;
}